extends layout

block content
  h1= title
  p Welcome to #{title}

  input(type="text" id="text" value="550565411356")
  input(type="button" id="button" value="查询")
  div(id="company")
  div(id="info")

  script(src="/javascripts/jquery.js")
  script(src="/javascripts/kuaidi.js")
